@import 'tailwindcss';

:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --color-bg: #f3e8ff;
  --color-bg-alt: #e9d9ff;
  --color-text: #3b0256;
  --color-text-light: #ffffff;
  --color-primary: #9b59b6;
  --color-primary-hover: #7d3f99;
  --color-accent: #b084cc;
  --color-border: #d6b7e5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-hover);
}

body {
  margin: 0;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-primary);
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-bg-alt);
  color: var(--color-text);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-text-light);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, textarea {
  color: var(--color-accent);
}

input::placeholder,
textarea::placeholder {
    color: var(--color-text);
}


[data-theme="dark"] {
  --color-bg: #1c1b29;
  --color-bg-alt: #2a2438;
  --color-text: #e0d4f7;
  --color-text-light: #ffffff;
  --color-primary: #c89de3;
  --color-primary-hover: #b073d1;
  --color-accent: #9b5fc1;
  --color-border: #5e3b71;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f3e8ff;
    --color-bg-alt: #e9d9ff;
    --color-text: #3b0256;
    --color-primary: #9b59b6;
    --color-primary-hover: #7d3f99;
    --color-border: #d6b7e5;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1c1b29;
    --color-bg-alt: #2a2438;
    --color-text: #e0d4f7;
    --color-primary: #c89de3;
    --color-primary-hover: #b073d1;
    --color-border: #5e3b71;
  }
}
